<div id="sfooter">
   <div class="sfooterone">
      <div class="sfooteronelogo"><a href="#"><img src="/assets/slider2.webp" class="sfooteronelogorsp"></a></div>
      <div class="sfooteronesocial">
         <a href="#"><i class="fa-brands fa-brandsf fa-facebook-f"></i></a>
         <a href="#"><i class="fa-brands fa-brandsi fa-instagram"></i></a>
         <a href="#"><i class="fa-brands fa-brandsy fa-youtube"></i></a>
      </div>
   </div>
   <div class="sfootertwo">
      <div class="sfootertwoleft" itemscope itemtype="https://schema.org/Organization">
         <div class="sfootertwohdleft">
            <span style="color:#ffff;">Contact for  </span> <span style="color:#ef0000;">Franchise</span>
         </div>
         <div class="sfootertwonumleft" itemscope itemtype="https://schema.org/Organization">
            <i class="fa-solid fa-mobileml fa-mobile-screen-button"></i>
            <a href="tel:xxxxxxxxxxxxxxxx" onclick="return gtag_report_conversion('tel:xxxxxxxxxxxxxxxxxx');" itemprop="telephone">+91 xxxxxxxxxxxxx</a>
         </div>
         <div class="sfootertwoemleft" itemscope itemtype="https://schema.org/Organization">
            <i class="fa-regular fa-envelopeml fa-envelope"></i>
            <a href="mailto:info@onebite.co.in" itemprop="email">info@onebite.co.in</a>
         </div>
         <div class="sfootertwoaddleft" itemprop="location" itemscope itemtype="https://schema.org/Place">
            <i class="fa-solid locationml fa-location-dot"></i>
            <a href="#"  itemprop="address" itemscope itemtype="https://schema.org/PostalAddress">
            <span itemprop="streetAddress">Okhla Phase 1</span>, <span itemprop="addressRegion">New Delhi</span> <span itemprop="postalCode">( 110020 )</span></a>
         </div>
      </div>
      <div class="sfootertworight" itemscope itemtype="https://schema.org/Restaurant">
         <div class="sfootertwohdright">
            <span style="color:#ffff;">Customer  </span> <span style="color:#ef0000;">Care/Support</span>
         </div>
         <div class="sfootertwonumright" itemprop="telephone" content="+91xxxxxxxx">
            <a href="tel:08510095058">+91 xxxxxxxx</a>
            <i class="fa-solid fa-mobilemr fa-mobile-screen-button"></i>
         </div>
         <div class="sfootertwoemright" itemprop="email" content="sales@onebite.co.in">
            <a href="mailto:sales@onebite.co.in">sales@onebite.co.in</a>
            <i class="fa-regular fa-envelopemr fa-envelope"></i>
         </div>
         <div class="sfootertwotmright" itemprop="openingHours" content="Mo,Tu,We,Th,Fr,Sa, 10 AM - 06 PM">
            <span class="time">10 AM - 06 PM</span>
         </div>
         <div class="sfootertwoweekright">
            <span class="week">Mon - Sat</span>
         </div>
      </div>
   </div>
</div>
<div class="sfooterthree">
   Copyright © 
   <div id="onebiteyears"> </div>
   MAST BANARASI PAAN. All rights reserved.
</div>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">