html{padding:0px; margin:0px;}
body{padding:0px; margin:0px;}

#toponebitelogobox { position: absolute; top: 2vw; left: 46.5vw!important; width: 9%; height: 4vw;}
#footerstylesectiontop{background:orange/*#ebe117*/;font-family:'Lato', sans-serif; padding-top:20px; padding-bottom:30px; line-height:1;}
#footerstylesectiontop a{text-decoration:none;}
.footerstylesectiontopcon{width:90%; margin:0px auto; }
.footerstylesectiontophd{text-align:left; font-size:2.1vw; font-weight:900; color:#232223; line-height:2.1;}
.footerstylesectiontopbtn{text-align:center; width:40%; border-top-left-radius: 5vw; border-top-right-radius: 5vw; border-bottom-right-radius: 5vw; border-bottom-left-radius: 5vw; text-transform:uppercase; font-weight:900; color:#fff; background:#008000; font-size:1.8vw; line-height:2; margin-top:11px; margin-left:210px;}
.footerstylesectiontopbtn:hover{background:#fff; color:#008000;}
#footerstylesectiontoprow{display:flex; flex-direction:rows;}
#footerstylesectionmenu{display:flex; flex-direction:rows; justify-content:center;}
#footerstylesectionmenu a{text-decoration:none;}
#footerstylesectionmenu a:hover{text-decoration:none; color:orange;}
#footerstylesectionsocial{display:flex;  border-top-left-radius: 5vw; border-top-right-radius: 5vw; border-bottom-right-radius: 5vw; border-bottom-left-radius: 5vw; border-radius:10px; flex-direction:rows; justify-content:space-between; width:50%!important; border:.0vh solid white; width:100%; margin:0px auto;}
.footerstylesectiontoprowone{width:60%;}
.footerstylesectiontoprowtwo{width:40%;}

#footerstylesection{background:#232223; padding-top:40px; height:25vw; padding-bottom:40px; font-family:'Lato', sans-serif;} /* #ebe11b; #a8b6b6 */
#footerstylesection a{text-decoration:none;}
.footerstylesectioncon{width:90%; margin:0px auto; height:20vw;}
.footerstylesectionhdone{text-align:left; font-size:2vw; text-transform:; font-weight:900; color:#fff;}
.footerstylesectionhdtw{text-align:center; font-size:2vw; text-transform:; font-weight:900; color:#fff;}
.footerstylesectionhdthr{text-align:right; font-size:2vw; text-transform:; font-weight:900; color:#fff; }
.footerstylesectionhdtwrsp{width:40%; padding:10px;}

.footerstylesectionsubhdone{text-align:left; font-size:1.2vw; margin-top:15px;  color:#758282;}
.footerstylesectionsubhdtw{text-align:center; font-size:1.2vw; margin-top:15px;  color:#758282;}
.footerstylesectionsubhdthr{text-align:right; font-size:1.2vw; margin-top:15px;  color:#758282;}

.footerstylesectionsubbhdone{text-align:left; font-size:1.1vw;  color:#758282; margin-top:5px; }
.footerstylesectionsubbhdtw{text-align:center; font-size:1.1vw; color:#758282; margin-top:5px; }
.footerstylesectionsubbhdthr{text-align:right; font-size:1.1vw; color:#758282; margin-top:5px; }
#footerstylesectionrow{display:flex; justify-content:center; text-align:center; flex-direction:rows;}
.footerstylesectionrowone{width:28%; padding-top:40px;}
.footerstylesectionrowtwo{width:44%; text-align:center;}
.footerstylesectionrowthree{width:28%;padding-top:40px;}
.fbmenuone{font-size:1vw; margin:.5vw; color:orange;}
.socialmenuone{ margin:10px 05px;}

.socialfbcss-icon-1{font-size:1.2rem; background: #4267b2; color:white; border-radius: 50%; padding:1.4rem; transition: all 1.3s ease; border: .1vh solid #4267b2;}
.socialfbcss-icon-2{font-size:1.2rem; background: #BD081C; color:white; border-radius: 50%; padding:1.4rem; transition: all 1.3s ease; border: .1vh solid #BD081C;}
.socialfbcss-icon-3{font-size:1.4rem; background: #231F20; color:#bc2a8d; border-radius: 50%; padding:1.2rem; transition: all 1.3s ease; border: .1vh solid #231F20;}
.socialfbcss-icon-4{font-size:1.4rem; background: #ED3833; color:white; border-radius: 50%; padding:1.2rem; transition: all 1.3s ease; border: .1vh solid #ED3833;}
.socialfbcss-icon-5{font-size:1.4rem; background: #34526f; color:white; border-radius: 50%; padding:1.2rem; transition: all 1.3s ease; border: .1vh solid #34526f;}
.socialfbcss-icon-6{font-size:1.4rem; background: #0077B5; color:white; border-radius: 50%; padding:1.2rem; transition: all 1.3s ease; border: .1vh solid #0077B5;}
.socialfbcss-icon-7{font-size:1.4rem; background: #38A1F3; color:white; border-radius: 50%; padding:1.2rem; transition: all 1.3s ease; border: .1vh solid #38A1F3;}


.socialfbcss-icon-1:hover{font-size:1.2rem; background:transparent; color:#4267b2; border-radius: 50%; padding:1.8rem; transition: all 1.3s ease; border: .1vh solid #4267b2;}
.socialfbcss-icon-2:hover{font-size:1.2rem; background: transparent; color:#BD081C; border-radius: 50%; padding:1.8rem; transition: all 1.3s ease; border: .1vh solid #BD081C;}
.socialfbcss-icon-3:hover{font-size:1.4rem; background: transparent; color:#231F20; border-radius: 50%; padding:1.8rem; transition: all 1.3s ease; border: .1vh solid #231F20;}
.socialfbcss-icon-4:hover{font-size:1.4rem; background: transparent; color:#ED3833; border-radius: 50%; padding:1.8rem; transition: all 1.3s ease; border: .1vh solid #ED3833;}
.socialfbcss-icon-5:hover{font-size:1.4rem; background: transparent; color:#34526f; border-radius: 50%; padding:1.8rem; transition: all 1.3s ease; border: .1vh solid #34526f;}
.socialfbcss-icon-6:hover{font-size:1.4rem; background: transparent; color:#0077B5; border-radius: 50%; padding:1.8rem; transition: all 1.3s ease; border: .1vh solid #0077B5;}
.socialfbcss-icon-7:hover{font-size:1.4rem; background: transparent; color:#38A1F3; border-radius: 50%; padding:1.8rem; transition: all 1.3s ease; border: .1vh solid #38A1F3;}


.socialfbcss-icon-8{font-size:1.5rem; margin:1px; color:#0077B5; border-radius: 50%;  transition: all 1.3s ease;}
.socialfbcss-icon-9{font-size:1.5rem; margin:1px 5px; color:#BD081C; border-radius: 50%;  transition: all 1.3s ease; }
.socialfbcss-icon-10{font-size:1.5rem;  margin:1px;  color:#ebe11b; border-radius: 50%;  transition: all 1.3s ease; }

.socialfbcss-icon-15{font-size:1.5rem;  margin:1px; color:green; border-radius: 50%;  transition: all 1.3s ease; }
.socialfbcss-icon-16{font-size:1.5rem;  margin:1px; color:orange; border-radius: 50%;  transition: all 1.3s ease; }
.socialfbcss-icon-17{font-size:1.5rem;  margin:1px; color:red; border-radius: 50%;  transition: all 1.3s ease; }

#footerstylesectionbottom{background:#313031;font-family:'Lato', sans-serif; padding-top:20px; padding-bottom:30px;}
#footerstylesectiontop a{text-decoration:none;}
.footerstylesectionbottomcon{width:90%; margin:0px auto; }
.footerstylesectionbottomhd{text-align:center; font-size:1vw; font-weight:100; color:#a2a2a2;}
#footerstylesectionbottomrow{display:flex; flex-direction:rows;}
.footerstylesectionbottomrowone{width:100%;}
.footerstylesectiontoprowtwo{width:40%;}

.footer_absolute{position:relative;}
.footer_absolute_box_1{position:absolute!important; top:6vw;}
.footer_absolute_box_2{position: absolute!important; top:5vw; left: 27vw;}
.footer_absolute_box_3{position: absolute!important; top:6vw; left: 66vw;}
 .julywhatright{font-size:5vw; color:#fff; background:linear-gradient(#25d366,#25d366) 14% 84%/16% 16% no-repeat, radial-gradient(#25d366 60%,transparent 0);transform: rotate(270deg);}
 .julywhatleft{font-size:5vw; color:#fff; background:linear-gradient(#25d366,#25d366) 14% 84%/16% 16% no-repeat, radial-gradient(#25d366 60%,transparent 0);}


@media screen and (max-width:420px){
  #footerstylesectiontoprow{flex-direction:column;}
  .footerstylesectiontophd{text-align:center; font-size:4vw; font-weight:900; color:#232223;}
  .footerstylesectiontopbtn{text-align:center; width:40%; border-top-left-radius: 5vw; border-top-right-radius: 5vw; border-bottom-right-radius: 5vw;       border-bottom-left-radius: 5vw; text-transform:uppercase; font-weight:900; color:#fff; background:#008000; font-size:4vw; line-height:2; margin-top:11px; margin-left:107px;}
.footerstylesectiontoprowone{width:100%;}
.footerstylesectiontoprowtwo{width:100%;}
.socialmenuone{ margin:5px 5px;}
.socialfbcss-icon-1{font-size:.7rem; padding:.8rem; }
.socialfbcss-icon-2{font-size:.7rem; padding:.8rem; }
.socialfbcss-icon-3{font-size:.7rem; padding:.8rem; }
.socialfbcss-icon-4{font-size:.7rem; padding:.8rem; }
.socialfbcss-icon-5{font-size:.7rem; padding:.8rem; }
.socialfbcss-icon-6{font-size:.7rem; padding:.8rem; }
.socialfbcss-icon-7{font-size:.7rem; padding:.8rem; }

.socialfbcss-icon-1:hover{font-size:.9rem; padding:.8rem; }
.socialfbcss-icon-2:hover{font-size:.9rem; padding:.8rem; }
.socialfbcss-icon-3:hover{font-size:.9rem; padding:.8rem; }
.socialfbcss-icon-4:hover{font-size:.9rem; padding:.8rem; }
.socialfbcss-icon-5:hover{font-size:.9rem; padding:.8rem; }
.socialfbcss-icon-6:hover{font-size:.9rem; padding:.8rem; }
.socialfbcss-icon-7:hover{font-size:.9rem; padding:.8rem; }

#footerstylesectiontop{background:orange/*#ebe117*/;font-family:'Lato', sans-serif; padding-top:2vw; padding-bottom:6vw; line-height:1;}

#footerstylesection{padding-top:1px!important; padding-bottom:1px!important; height:90vw;}	
.footerstylesectionhdtwrsp{width:100%; padding:10px;}

#footerstylesectionbottom{ padding-top:10px; padding-bottom:10px;}	
.footerstylesectionbottomhd{text-align:center; font-size:3vw; font-weight:100; color:#a2a2a2;}	

#footerstylesectionsocial{border:.0vh solid white;}	
	
.footerstylesectionhdone{font-size:5vw;}
.footerstylesectionhdtw{ font-size:5vw;}
.footerstylesectionhdthr{ font-size:5vw;}
.footerstylesectionhdtwrsp{width:40%; padding:10px;}

.footerstylesectionsubhdone{font-size:4vw;}
.footerstylesectionsubhdtw{font-size:4vw;}
.footerstylesectionsubhdthr{font-size:4vw;}

.footerstylesectionsubbhdone{font-size:4vw;}
.footerstylesectionsubbhdtw{font-size:4vw;}
.footerstylesectionsubbhdthr{font-size:4vw;}

.footer_absolute{position:relative;}
.footer_absolute_box_1{position:absolute!important; top:48vw;}
.footer_absolute_box_2{position:absolute!important; top:8vw; left:0vw;}
.footer_absolute_box_3{position:absolute!important; top:48vw; left:-05vw;}

.footerstylesectionrowone{width:50%; padding-top:40px;}
.footerstylesectionrowtwo{width:100%; text-align:center;}
.footerstylesectionrowthree{width:100%; padding-top:40px;}
 .julywhatright{font-size:10vw; color:#fff; background:linear-gradient(#25d366,#25d366) 14% 84%/16% 16% no-repeat, radial-gradient(#25d366 60%,transparent 0);transform: rotate(270deg);}
 .julywhatleft{font-size:10vw; color:#fff; background:linear-gradient(#25d366,#25d366) 14% 84%/16% 16% no-repeat, radial-gradient(#25d366 60%,transparent 0);}
}

@media screen and (max-width:360px){
  #footerstylesectiontoprow{flex-direction:column;}
  .footerstylesectiontophd{text-align:center; font-size:4vw; font-weight:900; color:#232223;}
  .footerstylesectiontopbtn{text-align:center; width:60%; border-top-left-radius: 5vw; border-top-right-radius: 5vw; border-bottom-right-radius: 5vw;       border-bottom-left-radius: 5vw; text-transform:uppercase; font-weight:900; color:#fff; background:#008000; font-size:4vw; line-height:2; margin-top:11px; margin-left:107px;}
.footerstylesectiontoprowone{width:100%;}
.footerstylesectiontoprowtwo{width:100%;}
.socialmenuone{ margin:5px 5px;}
.socialfbcss-icon-1{font-size:.7rem; padding:.8rem; }
.socialfbcss-icon-2{font-size:.7rem; padding:.8rem; }
.socialfbcss-icon-3{font-size:.7rem; padding:.8rem; }
.socialfbcss-icon-4{font-size:.7rem; padding:.8rem; }
.socialfbcss-icon-5{font-size:.7rem; padding:.8rem; }
.socialfbcss-icon-6{font-size:.7rem; padding:.8rem; }
.socialfbcss-icon-7{font-size:.7rem; padding:.8rem; }

.socialfbcss-icon-1:hover{font-size:.9rem; padding:.8rem; }
.socialfbcss-icon-2:hover{font-size:.9rem; padding:.8rem; }
.socialfbcss-icon-3:hover{font-size:.9rem; padding:.8rem; }
.socialfbcss-icon-4:hover{font-size:.9rem; padding:.8rem; }
.socialfbcss-icon-5:hover{font-size:.9rem; padding:.8rem; }
.socialfbcss-icon-6:hover{font-size:.9rem; padding:.8rem; }
.socialfbcss-icon-7:hover{font-size:.9rem; padding:.8rem; }

#footerstylesection{padding-top:1px!important; padding-bottom:1px!important; height:90vw;}	
.footerstylesectionhdtwrsp{width:100%; padding:10px;}

#footerstylesectionbottom{ padding-top:10px; padding-bottom:10px;}	
.footerstylesectionbottomhd{text-align:center; font-size:3vw; font-weight:100; color:#a2a2a2;}	

#footerstylesectionsocial{border:.0vh solid white;}	
	
.footerstylesectionhdone{font-size:5vw;}
.footerstylesectionhdtw{ font-size:5vw;}
.footerstylesectionhdthr{ font-size:5vw;}
.footerstylesectionhdtwrsp{width:40%; padding:10px;}

.footerstylesectionsubhdone{font-size:4vw;}
.footerstylesectionsubhdtw{font-size:4vw;}
.footerstylesectionsubhdthr{font-size:4vw;}

.footerstylesectionsubbhdone{font-size:4vw;}
.footerstylesectionsubbhdtw{font-size:4vw;}
.footerstylesectionsubbhdthr{font-size:4vw;}

.footer_absolute{position:relative;}
.footer_absolute_box_1{position:absolute!important; top:20vw;}
.footer_absolute_box_2{position:absolute!important; top:20vw; left:0vw;}
.footer_absolute_box_3{position:absolute!important; top:12vw; left:0vw;}

.footerstylesectionrowone{width:50%; padding-top:40px;}
.footerstylesectionrowtwo{width:100%; text-align:center;}
.footerstylesectionrowthree{width:100%; padding-top:40px;}
 .julywhatright{font-size:10vw; color:#fff; background:linear-gradient(#25d366,#25d366) 14% 84%/16% 16% no-repeat, radial-gradient(#25d366 60%,transparent 0);transform: rotate(270deg);}
 .julywhatleft{font-size:10vw; color:#fff; background:linear-gradient(#25d366,#25d366) 14% 84%/16% 16% no-repeat, radial-gradient(#25d366 60%,transparent 0);}
}

@media screen and (max-width:375px){
  #footerstylesectiontoprow{flex-direction:column;}
  .footerstylesectiontophd{text-align:center; font-size:4vw; font-weight:900; color:#232223;}
  .footerstylesectiontopbtn{text-align:center; width:40%; border-top-left-radius: 5vw; border-top-right-radius: 5vw; border-bottom-right-radius: 5vw;       border-bottom-left-radius: 5vw; text-transform:uppercase; font-weight:900; color:#fff; background:#008000; font-size:4vw; line-height:2; margin-top:11px; margin-left:107px;}
.footerstylesectiontoprowone{width:100%;}
.footerstylesectiontoprowtwo{width:100%;}
.socialmenuone{ margin:5px 5px;}
.socialfbcss-icon-1{font-size:1.2rem; padding:1.2rem; }
.socialfbcss-icon-2{font-size:1.2rem; padding:1.2rem; }
.socialfbcss-icon-3{font-size:1.2rem; padding:1.2rem; }
.socialfbcss-icon-4{font-size:1.2rem; padding:1.2rem; }
.socialfbcss-icon-5{font-size:1.2rem; padding:1.2rem; }
.socialfbcss-icon-6{font-size:1.2rem; padding:1.2rem; }
.socialfbcss-icon-7{font-size:1.2rem; padding:1.2rem; }

.socialfbcss-icon-1:hover{font-size:1.2rem; padding:1.2rem; }
.socialfbcss-icon-2:hover{font-size:1.2rem; padding:1.2rem; }
.socialfbcss-icon-3:hover{font-size:1.2rem; padding:1.2rem; }
.socialfbcss-icon-4:hover{font-size:1.2rem; padding:1.2rem; }
.socialfbcss-icon-5:hover{font-size:1.2rem; padding:1.2rem; }
.socialfbcss-icon-6:hover{font-size:1.2rem; padding:1.2rem; }
.socialfbcss-icon-7:hover{font-size:1.2rem; padding:1.2rem; }

#footerstylesection{padding-top:1px!important; padding-bottom:1px!important; height:120vw;}	
.footerstylesectionhdtwrsp{width:100%; padding:10px;}

#footerstylesectionbottom{ padding-top:1px; padding-bottom:10px;}	
.footerstylesectionbottomhd{text-align:center; font-size:3vw; font-weight:100; color:#a2a2a2;}	

#footerstylesectionsocial{border:.0vh solid white;}	
	
.footerstylesectionhdone{font-size:5vw;}
.footerstylesectionhdtw{ font-size:5vw;}
.footerstylesectionhdthr{ font-size:5vw;}
.footerstylesectionhdtwrsp{width:40%; padding:10px;}

.footerstylesectionsubhdone{font-size:4vw;}
.footerstylesectionsubhdtw{font-size:4vw;}
.footerstylesectionsubhdthr{font-size:4vw;}

.footerstylesectionsubbhdone{font-size:4vw;}
.footerstylesectionsubbhdtw{font-size:4vw;}
.footerstylesectionsubbhdthr{font-size:4vw;}

.footer_absolute{position:relative;}
.footer_absolute_box_1{position:absolute!important; top:35vw;}
.footer_absolute_box_2{position:absolute!important; top:8vw; left:0vw;}
.footer_absolute_box_3{position:absolute!important; top:70vw; left:-05vw;}

.footerstylesectionrowone{width:90%; padding-top:40px;}
.footerstylesectionrowtwo{width:100%; text-align:center;}
.footerstylesectionrowthree{width:100%; padding-top:40px;}
 .julywhatright{font-size:10vw; color:#fff; background:linear-gradient(#25d366,#25d366) 14% 84%/16% 16% no-repeat, radial-gradient(#25d366 60%,transparent 0);transform: rotate(270deg);}
 .julywhatleft{font-size:10vw; color:#fff; background:linear-gradient(#25d366,#25d366) 14% 84%/16% 16% no-repeat, radial-gradient(#25d366 60%,transparent 0);}
}



@media screen and (max-width:320px){
  #footerstylesectiontoprow{flex-direction:column;}
  .footerstylesectiontophd{text-align:center; font-size:4vw; font-weight:900; color:#232223;}
  .footerstylesectiontopbtn{text-align:center; width:25%; border-top-left-radius: 5vw; border-top-right-radius: 5vw; border-bottom-right-radius: 5vw;       border-bottom-left-radius: 5vw; text-transform:uppercase; font-weight:900; color:#fff; background:#008000; font-size:2.5vw; line-height:1; margin-top:1vw; margin-left:32vw; padding:1.5vw 2vw;}
.footerstylesectiontoprowone{width:100%;}
.footerstylesectiontoprowtwo{width:100%;}
.socialmenuone{ margin:5px 5px;}
.socialfbcss-icon-1{font-size:1rem; padding:1rem; }
.socialfbcss-icon-2{font-size:1rem; padding:1rem; }
.socialfbcss-icon-3{font-size:1rem; padding:1rem; }
.socialfbcss-icon-4{font-size:1rem; padding:1rem; }
.socialfbcss-icon-5{font-size:1rem; padding:1rem; }
.socialfbcss-icon-6{font-size:1rem; padding:1rem; }
.socialfbcss-icon-7{font-size:1rem; padding:1rem; }

.socialfbcss-icon-1:hover{font-size:1rem; padding:1rem; }
.socialfbcss-icon-2:hover{font-size:1rem; padding:1rem; }
.socialfbcss-icon-3:hover{font-size:1rem; padding:1rem; }
.socialfbcss-icon-4:hover{font-size:1rem; padding:1rem; }
.socialfbcss-icon-5:hover{font-size:1rem; padding:1rem; }
.socialfbcss-icon-6:hover{font-size:1rem; padding:1rem; }
.socialfbcss-icon-7:hover{font-size:1rem; padding:1rem; }

#footerstylesection{padding-top:1px!important; padding-bottom:1px!important; height:90vw;}	
.footerstylesectionhdtwrsp{width:100%; padding:10px;}

#footerstylesectionbottom{ padding-top:10px; padding-bottom:10px;}	
.footerstylesectionbottomhd{text-align:center; font-size:3vw; font-weight:100; color:#a2a2a2;}	

#footerstylesectionsocial{border:.0vh solid white;}	
	
.footerstylesectionhdone{font-size:5vw;}
.footerstylesectionhdtw{ font-size:5vw;}
.footerstylesectionhdthr{ font-size:5vw;}
.footerstylesectionhdtwrsp{width:40%; padding:10px;}

.footerstylesectionsubhdone{font-size:4vw;}
.footerstylesectionsubhdtw{font-size:4vw;}
.footerstylesectionsubhdthr{font-size:4vw;}

.footerstylesectionsubbhdone{font-size:4vw;}
.footerstylesectionsubbhdtw{font-size:4vw;}
.footerstylesectionsubbhdthr{font-size:4vw;}

.footer_absolute{position:relative;}
.footer_absolute_box_1{position:absolute!important; top:30vw;}
.footer_absolute_box_2{position:absolute!important; top:8vw; left:0vw;}
.footer_absolute_box_3{position:absolute!important; top:30vw; left:-05vw;}

.footerstylesectionrowone{width:50%; padding-top:40px;}
.footerstylesectionrowtwo{width:100%; text-align:center; padding:0vw;}
.footerstylesectionrowthree{width:100%; padding-top:40px;}
 .julywhatright{font-size:10vw; color:#fff; background:linear-gradient(#25d366,#25d366) 14% 84%/16% 16% no-repeat, radial-gradient(#25d366 60%,transparent 0);transform: rotate(270deg);}
 .julywhatleft{font-size:10vw; color:#fff; background:linear-gradient(#25d366,#25d366) 14% 84%/16% 16% no-repeat, radial-gradient(#25d366 60%,transparent 0);}

}




