html{margin:0px; padding:0px;}
body{margin:0px; padding:0px;}
#ourperson{
  display: grid;
  justify-content:space-around;
  grid-template-columns: auto auto auto auto auto auto auto auto auto;	
background:#000; color:white;
padding:1vw 0vw; 
}
.statelist{font-size:1vw; padding:1vw; border:.1vh solid #db0606; margin:0vw; text-align:center; border-radius:1vw; }

#franchisemodelbox{display:flex; flex-direction:row; justify-content:space-around; background:#2c4d00; padding-bottom:4vw;}
.franchisemodelboxcolone{width:30%; background:#000; border:2vh solid #ff00004f;}
.franchisemodelboxcoltwo{width:30%; background:#000; border:2vh solid #ff00004f;}
.franchisemodelboxcolthree{width:30%; background:#000; border:2vh solid #ff00004f;}
.franchisemodelboxcolrs{width:100%; border-bottom:.1vh solid #ff0d0d;}
.franchisemodelboxcolhd{text-align:center;  font-size:2vw; padding:1vw; background:fff; color:#db0101; font-family: library-3; border-bottom:.1vh solid #db0101}
.franchisemodelboxcolhdp{text-align:center; font-size:2vw; padding-bottom:.5vw;  color:#ff0d0d; font-family: library-3; }
.sizebox{font-size:1vw; text-align:center; color:#ff0d0d; display:block; padding-top:1vw;}

#franchiseprodbox{  display: grid; justify-content:space-evenly; grid-template-columns: auto auto auto auto auto auto auto auto auto auto; background:#ffe641; color:white; padding:1vw 0vw; }
.franchiseprodboxcol{margin:.5vw;}
.franchiseprodboxcolrs{width:8vw;}
.franchiseprodboxcolhd{text-align:center; font-size:2vw; padding:1vw; background:#000; color:#f9ff0d; font-family: library-3;}
.franchiseprodboxcolhdp{text-align:center; font-size:1vw; padding:1vw; background:transparent; color:#000; font-weight:700; }


#franchisefeaturebox{display:grid; grid-template-columns: auto auto auto; justify-content:center; background:#2c4d00;}
.franchisefeatureboxcol{margin:2vw; width:25vw; border-radius:5vw; border:.1vh solid #000; background:#000;}
.franchisefeatureboxcolrs{width:100%;}
.franchisefeatureboxcolhd{text-align:center; border-bottom:.1vh solid #ff0d0d; font-size:1.5vw; padding:1vw;  color:#ed0404; font-family: library-3;}
.franchisefeatureboxcolhdp{text-align:center; font-size:1.2vw; padding:1vw; color:#ed0404; background:#000/* #4aafa7 */;}


#silderbox{display:flex; flex-direction:row; justify-content:space-between; background:#000;}
.silderboxbs{width:100%;}

#storebox{position:relative; background:#000;}
.storeboxbs{width:100%;}
.storeboxbshd{position:absolute; font-family: library-3; border-bottom:.1vw solid #1298d5; font-size: 5vw; padding:2vw 0vw 1vw 0vw; text-align: center; margin: 2vw 0vw; background:#000; width:40%; right:15vw; top:5vw;}

#franchiescontactform{display:flex; flex-direction:row; justify-content:space-around; background:#000;}
.franchiescontactformcon{width:50%; border-left: .1vw solid #1298d5;}
#franchiesformcontact{display:flex; flex-direction:column; width:95%; padding:1vw; align-items:center;}
.inputcol{width:90%; padding: 1vw; border: .1vw solid #ccc; border-radius:.2vw; resize: vertical; margin:.1vw;  background-color:#000; color:#fff;}
.inputsubmitcol{ width:20%; background-color:#04AA6D; color:#fff; padding:1vw 2vw; margin:.3vw; border: none; border-radius:.4vw; cursor: pointer;}
.inputsubmitcol:hover{ background-color: #45a049;}

.inputcol:focus{ background-color:#000; color:#4aafa7;}
.frobqrcodebutton{width:80%; margin:0vw auto}
.scantocnnte{text-align:center; font-size:2vw; padding:2vw 1vw 1vw 1vw; border: .5vw solid #1298d5; background:#000; color:#fff; font-family: library-3;}
.scantocnntersp{width:100%;}
.obhdbox-3{font-family: library-3; border-bottom:.1vw solid #1298d5; font-size: 1.2vw; padding:2vw 0vw 1vw 0vw; text-align: center; margin: 2vw 0vw; background: #000; width:40%; margin:0vw auto}
.obhdbox-4{font-family: library-3; border-bottom:.1vw solid #1298d5; font-size: 1.2vw; padding:2vw 0vw 1vw 0vw; text-align: center; margin: 2vw 0vw; background: #000; width:80%; margin:0vw auto}

.franchiseprodboxhedingone{text-align:center; font-size:2vw; padding:2vw 1vw; background:#2c4d00; color:#a42401; font-family: library-3;}
.franchiseprodboxhedingtwo{text-align:center; font-size:2vw; padding:2vw 1vw; background:#2c4d00; color:#f6f9f4; font-family: library-3;}
.franchiseprodboxhedingthree{text-align:center; font-size:2vw; padding:2vw 1vw; background:#2c4d00; color:#f6f9f4; font-family: library-3;}
.franchiseprodboxhedingfour{text-align:center; font-size:2vw; padding:2vw 1vw 1vw 1vw; background:#2c4d00; color:#fff; font-family: library-3;}
.franchiseprodboxhedingfive{text-align:center; font-size:2vw; padding:2vw 1vw 1vw 1vw; background:#000; color:#fff; font-family: library-3;}
.franchiseprodboxhedingfoursub{text-align:center; font-size:1vw; padding-bottom:1vw; background:#000; color:#fff;}

	#silderonebite{display:none;}
	#storeboxm{display:none;}
	#storebox{display:block;}
	.one{font-size:2vw; color:#ffffff;}
	.bite{font-size:2vw; color:#ffffff;}
	.franchise{font-size:2vw; color:#ffffff;}
	.Presence{font-size:2vw; color:#ffffff;}
	.our{font-size:2vw; color:yellow;}

@media screen and (max-width:600px){
	#ourperson{ display: grid; justify-content:space-evenly; grid-template-columns: auto auto auto auto auto;	background:#000; color:white; padding:1vw 0vw 3vw 0vw; }
	.one{font-size:5vw; color:yellow;}
	.bite{font-size:5vw; color:#ffff;}
	.franchise{font-size:5vw; color:#ffff;}
		.Presence{font-size:5vw; color:#ffff;}
	
	#franchiescontactform{display:flex; flex-direction:column; justify-content:space-around; background:#000;}
   .franchiescontactformcon{width:100%; border-left: .1vw solid #1298d5;}
   .inputcol{width:90%; padding: 1vw; border: .1vw solid #ccc; border-radius:.2vw; resize: vertical; margin:1.5vw;  background-color:#000; color:#fff;}
   .inputsubmitcol{ width:20%; background-color:#04AA6D; color:#fff; padding:1vw 2vw; margin:.3vw; border: none; border-radius:.4vw; cursor: pointer;}
   .obhdbox-3{font-family: library-3; border-bottom:.1vw solid #1298d5; font-size: 3vw; padding:4vw 0vw 3vw 0vw; text-align: center; margin: 2vw 0vw; background: #000; width:60%; margin:0vw auto}
   .obhdbox-4{font-family: library-3; border-bottom:.1vw solid #1298d5; font-size: 3vw; padding:4vw 0vw 3vw 0vw; text-align: center; margin: 2vw 0vw; background: #000; width:80%; margin:0vw auto}   
   
	.franchiseprodboxhedingone{text-align:center; font-size:3.5vw; padding:2vw 1vw; background:#2c4d00; color:#2c4d00; font-family: library-3;}
	.franchiseprodboxhedingtwo{text-align:center; font-size:3.5vw; padding:3vw 2vw 0vw 1vw; background:#2c4d00; color:#fff; font-family: library-3;}
	.franchiseprodboxhedingthree{text-align:center; font-size:3.5vw; padding:4vw 2vw 0vw 1vw; background:#2c4d00; color:#fff; font-family: library-3;}
	.franchiseprodboxhedingfour{text-align:center; font-size:3.5vw; padding:3vw 2vw 0vw 1vw; background:#000; color:#fff; font-family: library-3;}
	.franchiseprodboxhedingfive{text-align:center; font-size:3.5vw; padding:2vw 1vw 1vw 1vw; background:#000; color:#fff; font-family: library-3;}
	
	#franchiseprodbox{  display: grid; justify-content:space-evenly; grid-template-columns:auto auto auto auto auto; background:#ffe641; color:white; padding:1vw 0vw 3vw 0vw; }
	.franchiseprodboxcol{margin:.5vw;}
	.franchiseprodboxcolrs{width:15vw;}
	.franchiseprodboxcolhd{text-align:center; font-size:1.5vw; padding:1vw; background:#000; color:#f9ff0d; font-family: library-3;}
	.franchiseprodboxcolhdp{text-align:center; font-size:1.5vw; padding:1vw; background:#000; color:#f9ff0d; font-family: library-3;}
	
	#silderbox{display:none;}
	#silderonebite{display:block; padding-top:31vw}
	.statelist{font-size:2vw; border:.1vh solid #db0606;}
	
	
	.franchisefeatureboxcolhd{text-align:center; border-bottom:.1vh solid #ff0d0d; font-size:3vw; padding:1vw;  color:#ff0d0d; font-family: library-3;}
	#franchisemodelbox{display:flex; flex-direction:column; justify-content:center!important; background:#2c4d00; padding-bottom:4vw;}
	.franchisemodelboxcolone{width:93%; background:#000; border:2vh solid #ff0d0d; margin:3vw 0vw 3vw 3vw;}
	.franchisemodelboxcoltwo{width:93%; background:#000; border:2vh solid #ff0d0d; margin:0vw 0vw 3vw 3vw;}
	.franchisemodelboxcolthree{width:93%; background:#000; border:2vh solid #ff0d0d; margin:0vw 0vw 0vw 3vw;}
	.franchisemodelboxcolhd{text-align:center;  font-size:4vw; padding:1vw; background:fff; color:#ff0000; font-family: library-3; border-bottom:.1vh solid #ff0000;}
	.franchisemodelboxcolhdp{text-align:center; font-size:4vw; padding-bottom:.5vw;  color:#ff0000; font-family: library-3; }
	.sizebox{font-size:2vw; text-align:center; color:#ffff; display:block; padding-top:1vw;}
	
	#franchisefeaturebox { display: grid; grid-template-columns: auto auto auto; justify-content: center; background: #2c4d00; padding:1vw 0vw 3vw 0vw;}
	
	
	.storeboxbs{width:0%;}
	.storeboxbsm{width:100%;}
	.franchisefeatureboxcol { margin: 2vw; width: 29vw; border-radius: 5vw; border: .1vh solid #870505; background: #000;}
	.franchisefeatureboxcolhdp{font-size:2vw;}
}